$vertical-indentation: ("s": 10px, "m": 20px, "l": 40px);
$horizontal-indentation: ("s": 10px, "m": 15px, "l": 20px);

$containers-border-radius: 5px;

$page-bg: #202128;
$containers-bg: #292b33;
$category-color: #c6c7c7;

$confirmed-color: #ffc538;
$deaths-color: #fafafa;
$recovered-color: #00ba80;
$existing-color: #f25454;
$critical-color: #4eadb1;