$header-padding: ("s": 12px 0, "m": 14px 0, "l": 17px 0);

$rate-graph-height: ("s": 10px, "m": 30px, "l": 35px);
$rate-padding-top: ("s": 10px, "m": 25px, "l": 40px);
$rate-categories-padding: ("s": 15px 0, "m": 25px 0, "l": 30px 0);

$histogram-graph-padding-top: ("s": 10px, "m": 15px, "l": 20px);
$histogram-categories-padding: ("s": 5px 0, "m": 15px 0, "l": 20px 0);
$histogram-column-width: ("s": 30px, "m": 40px, "l": 50px);

$date-padding: ("s": 3px 0, "m": 7px 0, "l": 10px 0);

$updated-padding-bottom: ("s": 10px, "m": 15px, "l": 20px);

$location-categories-height: ("s": 220px, "m": 80px, "l": 90px);

$world-categories-padding: ("s": 20px 0, "m": 10px 0, "l": 15px 0);

$countries-row-height: ("s": 35px, "m": 40px, "l": 45px);

$vertical-indentation: ("s": 5px, "m": 10px, "l": 20px);
$horizontal-indentation: ("s": 10px, "m": 15px, "l": 20px);

$containers-border-radius: 5px;

$main-header-font-size: ("s": 28px, "m": 30px, "l": 34px);

$page-bg: #202128;
$containers-bg: #292b33;
$active-element-color: #3c404d;
$category-color: #c6c7c7;

$confirmed-color: #ffc538;
$deaths-color: #fafafa;
$recovered-color: #00ba80;
$active-color: #f25454;
$critical-color: #4eadb1;
$cpm-color: #854dc9;