@import './variables';

.container {
    width: 100%;
    min-height: 200px;
    padding: {
        top: 0;
        right: map-get($horizontal-indentation, "s");
        bottom: 0;
        left: map-get($horizontal-indentation, "s");
    };
    box-sizing: border-box;
    border-radius: $containers-border-radius;
    background-color: $containers-bg;

    @media (min-width: 765px) {
        padding: {
            right: map-get($horizontal-indentation, "m");
            left: map-get($horizontal-indentation, "m");
        };
    }

    @media (min-width: 1300px) {
        padding: {
            right: map-get($horizontal-indentation, "l");
            left: map-get($horizontal-indentation, "l");
        };
    }
}

.data {
    overflow-x: scroll;

    @media (min-width: 765px) {
        overflow-x: auto;
    }
}

.table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
    text-align: left;
}

.category-name {
    width: 10%;
    height: 50px;
    padding-right: 10px;
    font-size: 18px;
    color: $category-color;
    cursor: pointer;

    &:hover {
        background-color: $active-element-color;
    }
}

.table-row {
    height:  map-get($countries-row-height, "s");

    @media (min-width: 765px) {
        height:  map-get($countries-row-height, "m");
    }

    @media (min-width: 1300px) {
        height:  map-get($countries-row-height, "l");
    }

    &:hover {
        background-color: $active-element-color;
    }
}