@import './variables';

.container {
    width: 100%;
    min-height: 175px;
    padding: {
        top: 0;
        right: map-get($horizontal-indentation, "s");
        bottom: 0;
        left: map-get($horizontal-indentation, "s");
    };
    box-sizing: border-box;
    border-radius: $containers-border-radius;
    background-color: $containers-bg;

    @media (min-width: 765px) {
        padding: {
            right: map-get($horizontal-indentation, "m");
            left: map-get($horizontal-indentation, "m");
        };
    }

    @media (min-width: 1300px) {
        padding: {
            right: map-get($horizontal-indentation, "l");
            left: map-get($horizontal-indentation, "l");
        };
    }
}

.data {
    overflow-x: scroll;

    @media (min-width: 765px) {
        overflow-x: auto;
    }
}

.table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: left;
}

.category-name {
    padding: {
        right: 10px;
        bottom: 10px;
    };
    font-size: 18px;
    color: $category-color;
}

.table-row {
    height: 40px;

    &:hover {
        background-color: #3c404d;
    }
}

.data-confirmed {
    color: $confirmed-color;
}

.data-deaths {
    color: $deaths-color;
}

.data-recovered {
    color: $recovered-color;
}

.data-active {
    color: $active-color;
}

.data-critical {
    color: $critical-color;
}