@import './variables';

.container {
    width: 100%;
    min-height: 200px;
    margin-bottom: map-get($vertical-indentation, "s") * 2;
    padding: {
        top: 0;
        right: map-get($horizontal-indentation, "s");
        bottom: 0;
        left: map-get($horizontal-indentation, "s");
    };
    box-sizing: border-box;
    border-radius: $containers-border-radius;
    overflow: hidden;
    transition: max-height 5s;
    background-color: $containers-bg;
    font-size: 18px;

    @media (min-width: 765px) {
        margin-bottom: map-get($vertical-indentation, "m") * 2;
        padding: {
            right: map-get($horizontal-indentation, "m");
            left: map-get($horizontal-indentation, "m");
        };
    }

    @media (min-width: 1300px) {
        margin-bottom: map-get($vertical-indentation, "l") * 2;
        padding: {
            right: map-get($horizontal-indentation, "l");
            left: map-get($horizontal-indentation, "l");
        };
    }
}

.categories {
    height: map-get($location-categories-height, "s");
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 765px) {
        height: map-get($location-categories-height, "m");
    }

    @media (min-width: 1300px) {
        height: map-get($location-categories-height, "l");
    }
}

.category {
    width: 33%;
    height: 100px;

    @media (min-width: 765px) {
        width: auto;
        height: 100%;
    }
}

.category-name {
    height: 50%;
    color: $category-color;

    @media (min-width: 765px) {
        height: 35%;
    }
}

.data {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 765px) {
        height: 65%;
    }
}