@import './variables';

$categories-height: ("s": 240px, "m": 95px, "l": 115px);

.container {
    width: 100%;
    height: $header-height + map-get($categories-height, "s");
    margin-bottom: map-get($vertical-indentation, "s");
    padding: {
        top: 0;
        right: map-get($horizontal-indentation, "s");
        bottom: 0;
        left: map-get($horizontal-indentation, "s");
    };
    box-sizing: border-box;
    border-radius: $containers-border-radius;
    background-color: $containers-bg;
    font-size: 18px;

    @media (min-width: 765px) {
        height: $header-height + map-get($categories-height, "m");
        margin-bottom: map-get($vertical-indentation, "m");
        padding: {
            right: map-get($horizontal-indentation, "m");
            left: map-get($horizontal-indentation, "m");
        };
    }

    @media (min-width: 1300px) {
        height: $header-height + map-get($categories-height, "l");
        margin-bottom: map-get($vertical-indentation, "l");
        padding: {
            right: map-get($horizontal-indentation, "l");
            left: map-get($horizontal-indentation, "l");
        };
    }
}

.categories {
    height: map-get($categories-height, "s");
    padding-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 765px) {
        height: map-get($categories-height, "m");
    }

    @media (min-width: 1300px) {
        height: map-get($categories-height, "l");
    }
}

.category {
    width: 30%;
    height: 100px;

    @media (min-width: 765px) {
        width: auto;
        height: 100%;
    }
}

.category-name {
    height: 50%;
    color: $category-color;

    @media (min-width: 765px) {
        height: 35%;
    }
}

.data {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: 765px) {
        height: 65%;
    }
}