@import './variables';

.container {
    padding-top: map-get($rate-padding-top, "s");

    @media (min-width: 765px) {
        padding-top: map-get($rate-padding-top, "m");
    }

    @media (min-width: 1300px) {
        padding-top: map-get($rate-padding-top, "l");
    }
}

.graph {
    height:  map-get($rate-graph-height, "s");
    box-sizing: border-box;
    display: flex;

    @media (min-width: 765px) {
        height: map-get($rate-graph-height, "m");
        padding-bottom: 0;
    }

    @media (min-width: 1300px) {
        height: map-get($rate-graph-height, "l");
    }
}

.row {
    width: 33.33333333%;
    transition: width 3s;
}

.recovery-row {
    background-color: $recovered-color;
}

.deaths-row {
    background-color: $deaths-color;
}

.active-row {
    background-color: $active-color;
}

.categories {
    padding: map-get($rate-categories-padding, "s");
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 765px) {
        padding: map-get($rate-categories-padding, "m");
        flex-direction: row;
    }

    @media (min-width: 1300px) {
        padding: map-get($rate-categories-padding, "l");
    }
}

.category {
    margin: 10px 0;
    display: inline-flex;
    justify-content: space-between;

    @media (min-width: 765px) {
        margin: 0;
        width: 200px;
    }
}

.category-name {
    margin-right: 10px;
    color: $category-color;
}