@import './variables';

.container {
    width: 100%;
    height: map-get($world-height, "s");
    margin-bottom: map-get($vertical-indentation, "s");
    padding: {
        top: 0;
        right: map-get($horizontal-indentation, "s");
        bottom: 0;
        left: map-get($horizontal-indentation, "s");
    };
    box-sizing: border-box;
    border-radius: $containers-border-radius;
    background-color: $containers-bg;
    font-size: 18px;

    @media (min-width: 765px) {
        height: map-get($world-height, "m");
        margin-bottom: map-get($vertical-indentation, "m");
        padding: {
            right: map-get($horizontal-indentation, "m");
            left: map-get($horizontal-indentation, "m");
        };
    }

    @media (min-width: 1300px) {
        height: map-get($world-height, "l");
        margin-bottom: map-get($vertical-indentation, "l");
        padding: {
            right: map-get($horizontal-indentation, "l");
            left: map-get($horizontal-indentation, "l");
        };
    }
}

.categories {
    height: map-get($world-categories-height, "s");
    padding-bottom: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 765px) {
        height: map-get($world-categories-height, "m");
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
    }

    @media (min-width: 1300px) {
        height: map-get($world-categories-height, "l");
    }
}

.category {
    display: inline-flex;
    justify-content: space-between;
}

.category-name {
    margin-right: 10px;
    color: $category-color;
}