@import './styles/variables';

.page {
    margin: 0;
    padding: map-get($vertical-indentation, "s") 10px;
    background-color: $page-bg;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;

    @media (min-width: 765px) {
        padding: map-get($vertical-indentation, "m") 10px;
    }

    @media (min-width: 1300px) {
        padding: map-get($vertical-indentation, "l") 10px;
    }
}

.header {
    $header-height: ("s": 48px, "m": 60px, "l": 80px);
    $header-font-size: ("s": 24px, "m": 30px, "l": 34px);

    width: 100%;
    height: map-get($header-height, "s");
    box-sizing: border-box;
    margin: 0;
    font-size: map-get($header-font-size, "s");
    text-align: center;

    @media (min-width: 765px) {
        height: map-get($header-height, "m");
        font-size: map-get($header-font-size, "m");
    }

    @media (min-width: 1300px) {
        height: map-get($header-height, "l");
        font-size: map-get($header-font-size, "l");
    }
}

.confirmed {
    color: $confirmed-color;
}

.deaths {
    color: $deaths-color;
}

.recovered {
    color: $recovered-color;
}

.active {
    color: $active-color;
}

.critical {
    color: $critical-color;
}

.cpm {
    color: $cpm-color;
}