@import './styles/variables';

.page {
    margin: 0;
    padding: map-get($vertical-indentation, "s") 10px;
    background-color: $page-bg;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;

    @media (min-width: 765px) {
        padding: map-get($vertical-indentation, "m") 10px;
    }

    @media (min-width: 1300px) {
        padding: map-get($vertical-indentation, "l") 10px;
    }
}

.main-header {
    width: 100%;
    padding-bottom: map-get($vertical-indentation, "s");
    box-sizing: border-box;
    margin: 0;
    font-size: map-get($main-header-font-size, "s");
    text-align: center;

    @media (min-width: 765px) {
        padding-bottom: map-get($vertical-indentation, "m");
        font-size: map-get($main-header-font-size, "m");
    }

    @media (min-width: 1300px) {
        padding-bottom: map-get($vertical-indentation, "l");
        font-size: map-get($main-header-font-size, "l");
    }
}

.confirmed {
    color: $confirmed-color;
}

.deaths {
    color: $deaths-color;
}

.recovered {
    color: $recovered-color;
}

.active {
    color: $active-color;
}

.critical {
    color: $critical-color;
}

.cpm {
    color: $cpm-color;
}